{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <h1>{{ title }}</h1>
    <hr>

    {% for error in errors %}
    <div class="alert alert-warning">
      <p>{{ error }}</p>
    </div>
    {% endfor %}

    <form action="/" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">Your email</label>
          <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput" name="email" required>
        </div>
        <div class="six columns">
          <label for="exampleRecipientInput">Reason for contacting</label>
          <select class="u-full-width" id="exampleRecipientInput" name="option">
            <option value="">Hate Mail</option>
            <option value="questions">Questions</option>
            <option value="admiration">Admiration</option>
            <option value="canigetyonumba">Can I get your number?</option>
          </select>
        </div>
      </div>
      <label for="exampleMessage">Message</label>
      <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage" name="message"></textarea>
      <input class="button-primary" type="submit" value="Submit">
    </form>

  </div>

{% endblock %}